doctype 5
html(lang='es')
	head


		meta(charset='utf-8')
		title= title
		meta(name='description', content='Welcome to Autochas')
		meta(name='viewport', contet='width=divice-width,initial-scale=1')
		link(href='http://fonts.googleapis.com/css?family=Electrolize', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Volkhov:700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='css/estilos.css')
		link(href='http://fonts.googleapis.com/css?family=Cinzel+Decorative', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='js/funcionslider.js')
	
		


		<!--nav -->
		link(rel='stylesheet', href='css/animated-menu.css')	
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js', type='text/javascript')
		script(type="text/javascript", src="js/main.js")
		script(type='text/javascript', src='js/funcionslider.js')
		script(src='js/jquery.easing.1.3.js', type='text/javascript')
		script(src='js/animated-menu.js', type='text/javascript')
		link(href='http://fonts.googleapis.com/css?family=Quintessential', rel='stylesheet', type='text/css')
		<!--slider-->
		link(rel='stylesheet', type='text/css', href='css/demo.css')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		script(type='text/javascript', src='js/modernizr.custom.53451.js')
		script(type='text/javascript', src='js/slide.js')			
		script(type='text/javascript', src='js/jquery.gallery.js')
		<!-- fancybox -->
		script(src="js/jquery.mousewheel-3.0.4.pack.js", type="text/javascript")
		script(src="js/jquery.fancybox-1.3.4.js", type="text/javascript")
		script(src="js/ready.js", type="text/javascript")
		script(src="js/jquery.box.js", type="text/javascript")
		link(rel="stylesheet", href="css/fancybox.css")
		
		<!-- Formulario -->
		link(rel="stylesheet", type="text/css", href="css/formulario.css")
		
		

		

		
	body
		block content